.chat-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1060; /* Mayor que el SideMenu */
}

.chat-modal {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: white;
	padding: 20px;
	width: 300px;
	border-radius: 10px;
	z-index: 1061; /* Mayor que el backdrop */
}
/* Estilo para el botón de cierre */
#tache {
  background-color: #f44336; /* Rojo */
  color: rgb(156, 200, 236); /* Texto blanco */
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 25px;
  height: 25px;
}

/*Estilo de video llamada puto cagadero que es css*/
.container-video {
  
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  top: -10vh; /* Moves up by 10% of the viewport height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  gap: 30px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  align-items: center; /* Center each section horizontally */
} 

video {
  width: 40vw;
  height: 30vw;
  margin: 2rem;
  display: flex;
  margin-bottom: 20px;
 background: rgb(44, 62, 80); 
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
